<%= person.name %>   , <%= person.age %> ,<%= person.id%>,<%= person.createdAt %>
 
<form action="/person/delete/<%= person.id %>" method='POST'>
      
    <button type="sumbit" class="btn btn-primary">detele</button>
      
</form>